{% extends "layout.html" %}

{% block title %}Página Inicial do Meu Site{% endblock %}

{% block content %}
    <section class="hero">
        <h2>Conheça nossos produtos!</h2>
        <p>Uma breve descrição dos nossos produtos e serviços.</p>
        <button>Saiba Mais</button>
    </section>
    <section class="news">
        <h3>Últimas Novidades</h3>
        <ul>
            <li>Nova funcionalidade adicionada!</li>
            <li>Evento especial na próxima semana.</li>
        </ul>
    </section>
{% endblock %}

